In [11]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Using cached mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Using cached mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl (16.1 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [4]:
import sys
print(sys.executable)

C:\ProgramData\anaconda3\python.exe

In [2]:
!pip show pandas

Name: pandas
Version: 2.2.2
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
All rights reserved.

Copyright (c) 2011-2023, Open source contributors.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Location: C:\ProgramData\anaconda3\Lib\site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by: altair, bokeh, dask-expr, datashader, holoviews, hvplot, panel, seaborn, shap, skimpy, statsmodels, streamlit, xarray

In [1]:
import pandas as pd
import mysql.connector 
import glob
df = pd.read_csv("APsrtc_bus_details1.csv")
df = pd.read_csv("Astc_bus_details.csv")
df = pd.read_csv("Bsrtc_bus_details.csv")
df = pd.read_csv("Hrtc_bus_details.csv")
df = pd.read_csv("ksrtc_bus_details1.csv")
df = pd.read_csv("Rsrtc_bus_details.csv")
df = pd.read_csv("SBsrtc_bus_details.csv")
df = pd.read_csv("Tsrtc_bus_details.csv")
df = pd.read_csv("UPsrtc_bus_details.csv")
df = pd.read_csv("WBtc_bus_details.csv")
df = pd.read_csv("Psrtc_bus_details.csv")
df = pd.read_csv("CTU_bus_details.csv")
# List of CSV file paths
csv_files = ["APsrtc_bus_details1.csv", "Astc_bus_details.csv", "Bsrtc_bus_details.csv", "Hrtc_bus_details.csv", "ksrtc_bus_details1.csv", 
             "Rsrtc_bus_details.csv","SBsrtc_bus_details.csv", "Tsrtc_bus_details.csv", "UPsrtc_bus_details.csv", 
             "WBtc_bus_details.csv", "Psrtc_bus_details.csv","CTU_bus_details.csv"]   

# Read each CSV file into a DataFrame and store it in a list
df = [pd.read_csv(file) for file in csv_files]

# Concatenate all DataFrames in the list
combined_df = pd.concat(df, ignore_index=True)

combined_df.to_csv("RB_bus_details.csv", index=False)

In [1]:
import pandas as pd

df = pd.read_csv("APsrtc_bus_details1.csv")
df = pd.read_csv("Astc_bus_details.csv")
df = pd.read_csv("Bsrtc_bus_details.csv")
df = pd.read_csv("Hrtc_bus_details.csv")
df = pd.read_csv("ksrtc_bus_details1.csv")
df = pd.read_csv("Rsrtc_bus_details.csv")
df = pd.read_csv("SBsrtc_bus_details.csv")
df = pd.read_csv("Tsrtc_bus_details.csv")
df = pd.read_csv("UPsrtc_bus_details.csv")
df = pd.read_csv("WBtc_bus_details.csv")
df = pd.read_csv("Psrtc_bus_details.csv")
df = pd.read_csv("CTU_bus_details.csv")

# List of CSV file paths and corresponding state names
csv_files = {
    "APsrtc_bus_details1.csv": "Andhra Pradesh",
    "Astc_bus_details.csv": "Assam",
    "Bsrtc_bus_details.csv": "Bihar",
    "Hrtc_bus_details.csv": "Himachal Pradesh",
    "ksrtc_bus_details1.csv": "Kerala",
    "Rsrtc_bus_details.csv": "Rajasthan",
    "SBsrtc_bus_details.csv": "South Bengal",
    "Tsrtc_bus_details.csv": "Telangana",
    "UPsrtc_bus_details.csv": "Uttar Pradesh",
    "WBtc_bus_details.csv": "West Bengal",
    "Psrtc_bus_details.csv": "Punjab",
    "CTU_bus_details.csv": "Chandigarh"
}

# Read each CSV file into a DataFrame, add the new column, and store it in a list
dfs = []
for file, state in csv_files.items():
    df = pd.read_csv(file)
    df['states'] = state
    dfs.append(df)

# Concatenate all DataFrames in the list
combined_df = pd.concat(dfs, ignore_index=True)

# Save the updated combined DataFrame to a new CSV file
combined_df.to_csv("RB_bus_details1.csv", index=False)

In [3]:
# combined_df.to_csv("RB_bus_details.csv".csv", index=False) 

path=r"D:/files/project/RB_bus_details.csv"

combined_df.to_csv(path,index=False)

In [3]:
import pandas as pd
df = pd.read_csv('RB_bus_details.csv')

In [9]:
df.isnull().sum()

Route_Name           0
Route_Link           0
Bus_Name             0
Bus_Type             0
Departing_Time       0
Duration             0
Reaching_Time        0
Star_Rating          0
Price                0
Seat_Availability    0
dtype: int64

In [13]:
df.shape

(10805, 10)

In [15]:
df.head()

,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,Kakinada to Visakhapatnam,https://www.redbus.in/bus-tickets/kakinada-to-...,APSRTC - 2538,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",00:15,04h 00m,04:15,3.8,281.0,34 Seats available
1,Kakinada to Visakhapatnam,https://www.redbus.in/bus-tickets/kakinada-to-...,APSRTC - 2837,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",00:30,03h 00m,03:30,4.6,281.0,33 Seats available
2,Kakinada to Visakhapatnam,https://www.redbus.in/bus-tickets/kakinada-to-...,APSRTC - 23551,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",00:45,04h 00m,04:45,4.1,281.0,34 Seats available
3,Kakinada to Visakhapatnam,https://www.redbus.in/bus-tickets/kakinada-to-...,APSRTC - 2536,INDRA(A.C. Seater),01:15,03h 15m,04:30,3.9,340.0,36 Seats available
4,Kakinada to Visakhapatnam,https://www.redbus.in/bus-tickets/kakinada-to-...,APSRTC - 23537,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:30,04h 30m,06:00,4.0,281.0,32 Seats available

In [6]:
import pandas as pd
import mysql.connector

# Database connection details
DB_HOST = 'localhost'
DB_USER = 'root'
DB_PASSWORD = 'Abcd1234'
DB_NAME = 'redbus'

# CSV file path
CSV_FILE = 'RB_bus_details.csv'

def load_data_to_mysql():
    # Step 1: Load CSV data into a Pandas DataFrame
    try:
        df = pd.read_csv(CSV_FILE)
        print("CSV data loaded successfully!")
        
        # Clean and sanitize data
        df['Seat_Availability'] = df['Seat_Availability'].str.extract(r'(\d+)').astype(float)  # Extract numeric part
        df['Star_Rating'] = pd.to_numeric(df['Star_Rating'], errors='coerce')  # Ensure numeric
        df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
          # Convert to numeric; invalid values become NaN
        df.fillna({'Seat_Availability': 0, 'Star_Rating': 0, 'Price': 0}, inplace=True)   # Replace NaN with default values
    except Exception as e:
        print(f"Error loading or processing CSV: {e}")
        return

    # Step 2: Connect to MySQL
    try:
        connection = mysql.connector.connect(
            host=DB_HOST,
            user=DB_USER,
            password=DB_PASSWORD,
            database=DB_NAME
        )
        cursor = connection.cursor()
        print("Connected to MySQL database.")
    except mysql.connector.Error as err:
        print(f"Error connecting to MySQL: {err}")
        return

    # Step 3: Create the table if it doesn't exist
    try:
        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {DB_NAME}")
        cursor.execute(f"USE {DB_NAME}")
        cursor.execute("""
        CREATE TABLE IF NOT EXISTS bus_routes (
            id INT AUTO_INCREMENT PRIMARY KEY,
            route_name TEXT,
            route_link TEXT,
            busname TEXT,
            bustype TEXT,
            departing_time TIME,
            duration TEXT,
            reaching_time TIME,
            star_rating FLOAT,
            price DECIMAL(10, 2),
            seats_available INT
            
        )
        """)
        print("Table `bus_routes` created successfully!")
    except mysql.connector.Error as err:
        print(f"Error creating table: {err}")
        return

    # Step 4: Insert data into the table
    try:
        for _, row in df.iterrows():
            sql = """
            INSERT INTO bus_routes (
                Route_Name, Route_Link, BusName, BusType,
                Departing_Time, Duration, Reaching_Time,
                Star_Rating, Price, Seats_Available
            )
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
            """
            # Convert row to tuple
            data = tuple(
                None if pd.isna(value) else value for value in row
            )
            cursor.execute(sql, data)
        connection.commit()
        print(f"Data inserted successfully into `{DB_NAME}.bus_routes")
    except mysql.connector.Error as err:
        print(f"Error inserting data: {err}")
    finally:
        cursor.close()
        connection.close()

if __name__ == "__main__":
    load_data_to_mysql()

CSV data loaded successfully!
Connected to MySQL database.
Table `bus_routes` created successfully!
Data inserted successfully into `redbus.bus_routes

In [13]:
# Step 2: Connect to MySQL
try:
    connection = mysql.connector.connect(
    host=DB_HOST,
    user=DB_USER,
    password=DB_PASSWORD,
    database=DB_NAME
    )
    cursor = connection.cursor()   
    print("Connected to MySQL database.")
except mysql.connector.Error as err:
    print(f"Error connecting to MySQL: {err}")

Connected to MySQL database.

In [15]:
cursor.execute("DESCRIBE redbus.bus_routes")
for i in cursor:
    print(i)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('route_name', 'text', 'YES', '', None, '')
('route_link', 'text', 'YES', '', None, '')
('busname', 'text', 'YES', '', None, '')
('bustype', 'text', 'YES', '', None, '')
('departing_time', 'time', 'YES', '', None, '')
('duration', 'text', 'YES', '', None, '')
('reaching_time', 'time', 'YES', '', None, '')
('star_rating', 'float', 'YES', '', None, '')
('price', 'decimal(10,2)', 'YES', '', None, '')
('seats_available', 'int', 'YES', '', None, '')

In [17]:
cursor.execute("sELECT Route_name from redbus.bus_routes limit  10")
for i in cursor:
    print(i)

('Kakinada to Visakhapatnam',)
('Kakinada to Visakhapatnam',)
('Kakinada to Visakhapatnam',)
('Kakinada to Visakhapatnam',)
('Kakinada to Visakhapatnam',)
('Kakinada to Visakhapatnam',)
('Kakinada to Visakhapatnam',)
('Kakinada to Visakhapatnam',)
('Kakinada to Visakhapatnam',)
('Kakinada to Visakhapatnam',)

In [19]:
cursor.execute("sELECT * from redbus.bus_routes limit  10")
for i in cursor:
    print(i)

(1, 'Kakinada to Visakhapatnam', 'https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam', 'APSRTC - 2538', 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)', datetime.timedelta(seconds=900), '04h 00m', datetime.timedelta(seconds=15300), 3.8, Decimal('281.00'), 34)
(2, 'Kakinada to Visakhapatnam', 'https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam', 'APSRTC - 2837', 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)', datetime.timedelta(seconds=1800), '03h 00m', datetime.timedelta(seconds=12600), 4.6, Decimal('281.00'), 33)
(3, 'Kakinada to Visakhapatnam', 'https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam', 'APSRTC - 23551', 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)', datetime.timedelta(seconds=2700), '04h 00m', datetime.timedelta(seconds=17100), 4.1, Decimal('281.00'), 34)
(4, 'Kakinada to Visakhapatnam', 'https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam', 'APSRTC - 2536', 'INDRA(A.C. Seater)', datetime.timedelta(seconds=4500), '03h 15m', datetime.timedelta(seconds=16200), 3.9, Decimal('340.00'), 36)
(5, 'Kakinada to Visakhapatnam', 'https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam', 'APSRTC - 23537', 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)', datetime.timedelta(seconds=5400), '04h 30m', datetime.timedelta(seconds=21600), 4.0, Decimal('281.00'), 32)
(6, 'Kakinada to Visakhapatnam', 'https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam', 'APSRTC - 3712', 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)', datetime.timedelta(seconds=6300), '04h 10m', datetime.timedelta(seconds=21300), 3.8, Decimal('281.00'), 31)
(7, 'Kakinada to Visakhapatnam', 'https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam', 'APSRTC - 24263', 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)', datetime.timedelta(seconds=7200), '03h 00m', datetime.timedelta(seconds=18000), 5.0, Decimal('281.00'), 33)
(8, 'Kakinada to Visakhapatnam', 'https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam', 'APSRTC - 3714', 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)', datetime.timedelta(seconds=12300), '03h 55m', datetime.timedelta(seconds=26400), 3.8, Decimal('281.00'), 31)
(9, 'Kakinada to Visakhapatnam', 'https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam', 'APSRTC - 2651', 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)', datetime.timedelta(seconds=14400), '03h 00m', datetime.timedelta(seconds=25200), 3.3, Decimal('281.00'), 34)
(10, 'Kakinada to Visakhapatnam', 'https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam', 'APSRTC - 2653', 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)', datetime.timedelta(seconds=16800), '03h 00m', datetime.timedelta(seconds=27600), 4.0, Decimal('281.00'), 34)

In [91]:
cursor.execute("sELECT Route_link from redbus.bus_routes limit  10")
for i in cursor:
    print(i)

('https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam',)
('https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam',)
('https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam',)
('https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam',)
('https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam',)
('https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam',)
('https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam',)
('https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam',)
('https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam',)
('https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam',)

In [21]:
cursor.execute("SELECT Route_Name, Duration FROM redbus.bus_routes ORDER BY Duration DESC LIMIT 5")
for i in cursor:
    print(i)

('Chittoor (Andhra Pradesh) to Bangalore', '28h 25m')
('Chennai to Tirupati', '27h 30m')
('Karimnagar to Hyderabad', '21h 45m')
('Delhi to Gorakhpur (uttar pradesh)', '21h 34m')
('Agra to Motihari', '19h 45m')